@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

html,
body,
#root {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
}

body,
button,
input,
textarea {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 12px 40px;
  li {
    line-height: 24px;
  }
}
